@import "tailwindcss";
/* Theme definitions */
:root {
  --gray: #7f858d;
  --black: #343434;
  --white: #ffffff;
}

@theme {
  --color-black: var(--black);
  --color-gray: var(--gray);
  --color-white: var(--white);
}
